body {
    font-family: Arial, sans-serif;
    background-image: url('loan.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    max-height: 100vh;
}

form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #8692f7;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
}

input[type="submit"] {
    background-color: #86cbf7;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

h1 {
    font-size: 24px;
    margin-top: 20px;
}

h2 {
    font-size: 18px;
    color: #3a05c1;
}

/* Responsive layout */
@media screen and (max-width: 600px) {
    body {
        background-size: auto; /* Adjust for smaller screens */
    }
    form {
        width: 80%;
    }
}
